.flex {
    
    margin: 10px;
    text-align: center;
display: flex;
    justify-content: center;
flex-direction: row;
}

@media (max-width: 800px) {
  .flex {
    flex-direction: column;
  }
}
	
.id-card-holder {
                        width: 225px;
                    padding: 5px;
                    margin: 10px;
                    background-color: #1f1f1f;
                    border-radius: 5px;
                    position: relative;
					
z-index:19;
 1display: flex;
    justify-content: center;
flex-direction: row;
}

@media (max-width: 800px) {
  .id-card-holder {
    flex-direction: column;
  }
}
                

.id-card {

                        background: rgb(180,189,193);
background: linear-gradient(180deg, rgba(180,189,193,1) 2%, rgba(20,20,39,1) 74%);
                        padding: 10px 0 0 10px;
                        border-radius: 10px;
                        border: 1px solid black;
                }
.id-card img {
                        margin: 0 auto;
                }
.header img {
                        width: 80px;
                    margin-top: 15px;
                }
.photo img {
                        width: 80px;
                    margin-top: 15px;
                }
h2 {
                        font-size: 15px;
                        margin: 5px 0;
            color: #a9a9ff;
                        -webkit-text-stroke: 0.1px black;
                }
h3 {
                        font-size: 12px;
                        margin: 2.5px 0;
                        font-weight: 300;
                        color: white;
                        -webkit-text-stroke: 0.1px black;
                }
.user img {
                        width: 80px;
                }
p {
                        font-size: 10px;
                        color: white;
        -webkit-text-stroke: 0.1px black;
                        margin: 2px;

                }

.id-card-hook:after {
                        content: '';
                    background-color: white;
                    width: 47px;
                    height: 7px;
                    display: block;
                    margin: 0px auto;
                    position: relative;
                    top: 6px;
                    border-radius: 4px;
                }
