/*Navigation*/
div.topnav {
  background: #2e334580;
  box-shadow: inset 5px 5px 10px #454d68,
            inset -5px -5px 10px #454d68;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  top: 0;
  border-bottom: 0.5px solid white;
  position: fixed;
  background: linear-gradient(89.7deg, rgb(0, 0, 0) -10.7%, rgb(53, 92, 125) 88.8%);
  background-size: 200%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-y;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: white;
  text-align: center center;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  font-size: 12px;
  opacity: 100%;
  font-family: lemon_days;


}

/* hober color*/
.topnav a:hover {
  background-color: #1df5e350;
  color: white;
}

/* active hover color*/
.topnav a.active {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: white;
}

/*Body Content*/

.alt_logo{
float: center;
}
.logo_main{
  display: block;
  margin: 10 auto;
  height: 250px;
  width: 250px;  
}

body{
  background: linear-gradient(89.7deg, rgb(0, 0, 0) -10.7%, rgb(53, 92, 125) 88.8%);
  background-size: 200%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-y;
  overflow: scroll;
  height: auto;
  position: sticky;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;   
}

button{
  background-color: #2e334580;
  Color: white;
  -webkit-text-stroke: 1px black;
  font-family: lemon_days;
  box-shadow: inset 5px 5px 10px #454d68,
              inset -5px -5px 10px #454d68;
}




.df{
    color: white;
    -webkit-text-stroke: 1px black;
    font-family: lemon_days;
}

.hl{
    font-family: lemon_days;
    -webkit-text-stroke: 1px black;
    color: #7c9bcc;
}




/*SUMMARY CONTENTS*/

.sm{
  display: block;
  list-style-type: none;
  font-family: lemon_days;
  color: white;
  -webkit-text-stroke: 1px black;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 30px;
  padding-right: 30px;
  height: autop;
font-size; 30px;

}

details > summary {
  list-style: none;
}

details summary::-webkit-details-marker {
                display:none;
              -webkit-text-stroke: 1px black;
}


  /*footer*/
.footer {
    border-top: 0.5px solid white;
    float: center;
    color: white;
    position: fixed;
    bottom: 0;
    text-align: center center;
    text-decoration: none;
    font-size: 12px;
    opacity: 100%;
    font-family: lemon_days;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #2e334580;
    box-shadow: inset 5px 5px 5px #454d68,
                inset -5px -5px 5px #454d68;
   background: linear-gradient(89.7deg, rgb(0, 0, 0) -10.7%, rgb(53, 92, 125) 88.8%);
    background-size: 200%;
    background-attachment: fixed;
    background-position: center;
background-repeat: repeat;

  /*Fonts*/

.ft{
    border:2px solid white;
} 



iframe > body {
  transform: scale(0.6);
  transform-origin: 0 0;
  width: 125%; 
  height: 125%; 
}

.logo {
            height: 50px;
        }

       body {
    margin: 0;
    font-family: lemon_days;
}



.logo-container {
    margin-right: 5px;
}

.search-container {
    display: flex;
    align-items: center;

.topnav ul {
    list-style-type: none;
    padding: 0;
}
/*hide the dot for the list8/
 .nd {
   list-style-type: none; 
    padding: 0;            
    margin: 0;
 }

table, th, td {
  border:2px solid white;
  width: 50%;

@font-face {
    font-family: lemon_days;
    src: url(./lemon_days.ttf);
}