/* Navigation */
div.topnav {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  top: 0;
  border-bottom: 0.5px solid white;
  position: fixed;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-clip: padding-box;
  margin: 0;
  z-index: 10;
}

.topnav a {
  float: center;
  color: white;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
  font-size: 12px;
  opacity: 100%;
  font-family: lemon_days;
}

.topnav a:hover {
  background-color: #1df5e350;
  color: white;
}

.topnav a.active {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: white;
}

/* Footer */
.footer {
  border-top: 0.5px solid white;
  color: #fff;
  position: fixed;
  bottom: 0;
  text-align: center;
  font-size: 12px;
  font-family: lemon_days;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 10;
}

/* Body Content */
body {
  background: rgb(146, 146, 167);
  background: radial-gradient(circle, rgba(146, 146, 167, 1) 1%, rgba(26, 44, 68, 1) 99%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-y;
  overflow: auto; /* Make body scrollable */
  margin: 0;
  padding-bottom: 50px; /* Space for footer */
  font-family: lemon_days;
  display: flex;
  flex-direction: column;
}

/* Content Area */
.alt_logo {
  float: center;
}

.logo_main {
  display: block;
  margin: 10 auto;
  height: 200px;
  width: 200px;  
}

button {
  background-color: #2e334580;
  color: white;
  -webkit-text-stroke: 1px black;
  font-family: lemon_days;
  box-shadow: inset 5px 5px 10px #454d68, inset -5px -5px 10px #454d68;
}

.df {
  color: white;
  -webkit-text-stroke: 1px black;
  font-family: lemon_days;
}

.hl {
  font-family: lemon_days;
  -webkit-text-stroke: 1px black;
  color: #a9a9bf;
}

/* Summary Contents */
.sm {
  display: block;
  list-style-type: none;
  font-family: lemon_days;
  color: white;
  -webkit-text-stroke: 1px black;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 30px;
  padding-right: 30px;
  height: auto;
  font-size: 30px;
  margin-bottom: 100px;
  overflow: auto; /* Ensure overflow content is scrollable */
}

details > summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
  -webkit-text-stroke: 1px black;
}

/* Fonts */
@font-face {
  font-family: lemon_days;
  src: url(./lemon_days.ttf);
}

.ft {
  border: 2px solid white;
}

/* Iframe */
iframe > body {
  transform: scale(0.6);
  transform-origin: 0 0;
  width: 125%;
  height: 125%;
}

/* Logo */
.logo {
  height: 50px;
}

.logo-container {
  margin-right: 5px;
}

/* Search Container */
.search-container {
  display: flex;
  align-items: center;
}

/* Topnav List */
.topnav ul {
  list-style-type: none;
  padding: 0;
}

/* Hide the dot for the list */
.nd {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Table */
table, th, td {
  border: 2px solid white;
  width: 50%;
}
